{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Registration{% endblock %}
{% block body_block %}
{% if registered %}
<div class="alert alert-success">
  Account Created Successfully! <a href="#">Login Here</a>
</div>
{% else %}
<h4>Create Account:</h4>
<form method="POST">
  {{ form|crispy }}
  {% csrf_token %}
  <button type="submit" class="btn btn-success btn-sm">Create Account</button>
</form>
<br>
<p>Already have an account? <a href="#">Login Here</a></p>
{% endif %}
{% endblock %}