{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %}iBook | Home {% endblock %}
{% block body_block %}
{% if search %}
{% for user in result %}
<div class="row">
  <div class="col-sm-2">
    {% if user.user_profile %}
    <img src="/media/{{user.user_profile.profile_pic}}" height="100px" width="100px">
    <br><br>
    {% else %}
    <img src="/media/profile_pics/default_pic.PNG" height="100px" width="100px">
    <br><br>
    {% endif %}
  </div>
  <div class="col-sm-10">
    <a href="{% url 'App_Login:user' username=user.username %}">{{user.username}}</a>
    <br>
    {{ user.first_name }} {{ user.last_name }}
  </div>
</div>
<br>
{% endfor %}
{% else %}
<div class="row">
  <div class="col-sm-9">
    {% for content in contents %}
    <div style="border: 1px solid #888888;">
      <div style="padding:10px">
        {% if content.author.user_profile.profile_pic %}
        <img src="/media/{{content.author.user_profile.profile_pic}}" width="40px" height="40px" class="rounded-circle">
        {% else %}
        <img src="/media/default_pic.PNG" width="40px" height="40px" class="rounded-circle">
        {% endif %}
        <a href="{% url 'App_Login:user' username=content.author %}">{{content.author.first_name}} {{content.author.last_name}}</a>

        <small style="font-size:11px; text-align:right;">
          {{content.publish_date}} <a href="{% url 'App_Content:category' cats=content.category|slugify %}">{{content.category}}</a>
        </small>
      </div>
      <hr>
      {{content.caption_content|range_filter}}<a href="{% url 'App_Content:content_details' pk=content.pk %}">see more</a>
      <img src="/media/{{content.image}}" width="100%">
      <div style="padding:5px">
        <b>{{ content.liked_content.count }} Likes</b> &nbsp;&nbsp;&nbsp; <b><a href="{% url 'App_Content:content_details' pk=content.pk %}">{{ content.content_comment.count }}&nbsp;Comments</b></a><br>
        {% if content.pk in liked_content_list %}
        <a href="{% url 'App_Content:unliked' pk=content.pk %}"><i class="fa fa-heart" style="font-size:36px"></i></a>
        {% else %}
        <a href="{% url 'App_Content:liked' pk=content.pk %}"><i class="fa fa-heart-o" style="font-size:36px"></i></a>
        {% endif %}
      </div>
    </div>
    <div class="padding:2px">

    </div>
    <br><br>
    {% endfor %}
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-4">
        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" width="75px" height="75px" class="rounded-circle">
        {% else %}
        <img src="/media/default_pic.png" width="75px" height="75px" class="rounded-circle">
        {% endif %}
      </div>
      <div class="col-sm-8">
        <a href="{% url 'App_Login:profile' %}">{{user.username}}</a>
        <br>
        {{user.first_name}} {{user.last_name}}
      </div>
    </div>

  </div>
</div>
{% endif %}
{% endblock %}