{% extends "base.html" %}
{% block title_block %}List of Chatrooms{% endblock %}

{% block body_block %}

<!-- Top banner -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to iChatbook</h1>
    <p>Join one of our existing chatrooms or make one of your own.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="{% url 'chat:chatrooms' %}">View All Chatrooms &raquo;</a>&nbsp;&nbsp;
      <a class="btn btn-success btn-lg" href="{% url 'chat:chatroom_create_form' %}">Create Chatroom &raquo;</a>
    </p>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8">

      <h2>List of Chatrooms</h2>

      <ol>
        {% for room in all_chatrooms %}
        <li><a href="{% url 'chat:chatroom' slug=room.slug %}">{{ room.name }}</a> - <i>{{ room.info }}</i></li>
        {% endfor %}
      </ol>
      <br>
      <p>Don't see one you like?&nbsp;&nbsp;<a class=" btn btn-success" href="{% url 'chat:chatroom_create_form' %}">Create a Chatroom &raquo;</a></p>
    </div>
  </div>

  {% endblock %}