{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}iChatbook | Create{% endblock %}

{% block body_block %}

<!-- Top banner -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to iChatbook</h1>
    <p>Join one of our existing chatrooms or make one of your own.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="{% url 'chat:chatrooms' %}">View All Chatrooms &raquo;</a>&nbsp;&nbsp;
      <a class="btn btn-success btn-lg" href="{% url 'chat:chatroom_create_form' %}">Create Chatroom &raquo;</a>
    </p>
  </div>
</div>

<div class="jumbotron">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-8">
      <h2>Create a Custom Chatroom</h2>

      <p>Add a Name and brief Description of your chatroom.</p><br>

      <form action="" method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <br>
        <input type="submit" class="btn btn-success" value="Create a Chatroom" />

      </form>

      <br>
    </div>
  </div>
</div>

{% endblock %}