{% extends "base.html" %}

{% block title_block %}Chatroom - {{ chatroom.name }}{% endblock %}

{% block body_block %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-9">
      <div class="jumbotron">
        <h2>This is the "<b>{{ chatroom.name }}</b>" chatroom.</h2>

        <p><span class="label label-default">Info</span>&nbsp;&nbsp;{{ chatroom.info }}</p>
        <p><span class="label label-default">Creator</span>&nbsp;&nbsp;<a href="{% url 'App_Login:user' username=chatroom.created_by %}">{{ chatroom.created_by }}</a></p>
        <p><span class="label label-default">Created</span>&nbsp;&nbsp;{{ chatroom.created }}</p>
        <p>*Displaying 50 most recent Messages</p>
      </div>

      {% if recent_messages %}

      <p><span class="label label-primary">{{ recent_messages.count }} message{{ recent_messages.count|pluralize }}</p>

      <ul>


        {% for message in recent_messages %}
        <li>
          <a href="{% url 'App_Login:user'  username=message.created_by %}"><b>{{ message.created_by }}</b></a> at <i>{{ message.created }}</i><br>
          <p>{{ message.text }}</p>
        </li>
        <hr>
        {% endfor %}
      </ul>
      {% else %}
      <p><b><i>No Messages have been posted yet.</i></b></p><br>
      {% endif %}

      <p><a class="btn btn-success" href="{% url 'chat:message_create_form' slug=chatroom.slug %}">Text in Chatroom &raquo;</a></p>

    </div>

    <div class="col-lg-3">
      <h4>Create a Chatroom for your friends!</h4>
      <p><a class="btn btn-primary btn-sm" href="{% url 'chat:chatrooms' %}">View All Chatrooms &raquo;</a></p>
    </div>
  </div>

  {% endblock %}