{% extends "base.html" %}

{% block title_block %}Chatroom Message{% endblock %}

{% block body_block %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-8">

      <h2>This is the "<b>{{ object.text }}</b>" Message.</h2>

      <p><span class="label label-default">Info</span>&nbsp;&nbsp;{{ object.info }}</p>
      <p><span class="label label-default">Creator</span>&nbsp;&nbsp;{{ object.created_by }}</p>
      <p><span class="label label-default">Created</span>&nbsp;&nbsp;{{ object.created }}</p>
      <br>

      <p><a class="btn btn-success" href="{% url 'chat:chatrooms' %}">Create Chatroom &raquo;</a></p>
    </div>
  </div>

  {% endblock %}