{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}Add a Message{% endblock %}

{% block body_block %}

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h2>Crate a Message</h2>

      <p>Add a Message to your Chatroom for others to see.</p><br>

      <form action="" method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <br>
        <input type="submit" class="btn btn-success" value="Create a Message" />

      </form>

      <br>
    </div>
  </div>
</div>

{% endblock %}