<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>{% block title_block %} iBook {% endblock %}</title>
  {% block css_block %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home" style="font-size:30px;color:#F8F9F9"></i></a>
      </li>
      &nbsp; &nbsp;
      <form class="form-inline" method="GET">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <div class="nav-item dropdown active ">
        {% if user.user_profile.profile_pic %}
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'App_Login:profile' %}"><img src="/media/{{user.user_profile.profile_pic}}" width="30px" height="30px" class="rounded-circle">&nbsp; {{user.first_name}}</a>
        {% else %}
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'App_Login:profile' %}"><img src="/media/default_pic.PNG" width="30px" height="30px" class="rounded-circle">&nbsp; {{user.first_name}}</a>
        {% endif %}
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'App_Content:create_content' %}">Write Content</a>
          <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Profile</a>
          <hr>
          <a class="dropdown-item" href="{% url 'App_Login:logout' %}">Logout</a>
        </div>
      </div>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'App_Login:signup' %}">Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'App_Login:login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container" style="padding-top:20px">
    {% block body_block %}

    {% endblock %}
</body>

</html>